/* UNIVERSAL STYLING */

* {
    box-sizing: border-box;
}

html {
    background-color: #F7F6E4;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headerlines {
    width: 600px;
    color: #593832;
}

.headerlines, h3 {
    display: inline-block;
}

.sectioncontainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sectioncontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* TEXT STYLING */

h1, h2, h3, h4, li {
    font-family: 'Dela Gothic One', sans-serif;
}

h5, p {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h4, h5, li {
    color: #F7F6E4;
}

h3, p {
    color: #593832;
}

h1 {
    font-size: 6.875rem;
}

/* HERO PAGE */

#hero {
    background-image: url(./background.jpg);
    background-size: cover;
    height: 100%;
}

.herocrumbs {
    list-style-type: none;
    padding-left: 0;
}

.herocrumb {
    display: inline-block;
}

#funfacticon {
    width: 180px;
    height: 180px;
}

#heronav {
    background-color: #E56E3460;
    height: 13px;
}

/* STICKY NAV BAR */

.crumbs {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

.crumb {
    display: inline-block;
    font-size: 2.375rem;
    margin: 35px 0px;
}

#navbar {
    background-color: #C4AADC85;
    border-radius: 50px;
}

#stickynav {
    position: sticky;
    top: 85px;
    width: 864px;
    height: 109px;
}

/* ABOUT */

#aboutcontent {
    width: 988px;
    justify-content: space-between;
}

#aboutbreak {
    width: 988px;
}

#p1 {
    width: 988px;
}

#p2 {
    display: inline-block;
    width: 490px;
}

#resumeicon {
    display: inline-block;
    width: 190px;
    height: 190px;
}


/* PROJECTS */

.projectname, .projectyear, .projectlink {
    display: inline-block;
    color: #F7F6E4;
}

.projects {
    width: 984px;
    height: 91px;
}

.projectscontainer {
    border: solid 2px #593832;
    width: 988px;
    height: 498px;
}

.projectimage {
    width: 984px;
    height: 407px;
}

#project1header {
    background-image: url(./project1.jpg);
}

#project2header {
    background-image: url(./project2.jpg);
}

#project3header {
    background-image: url(./project3.jpg);
}

/* SKILLS */

#skillscontainer {
    background-image: url(./background.jpg);
    background-size: cover;
    width: 988px;
    height: 988px;
}

.skill {
    display: inline-block;
}

.skillicon {
    width: 280px;
    height: 204px;
}


/* CONTACT */

.contactcircle {
    background-color: #C4AADC;
    width: 131px;
    height: 131px;
    border-radius: 50%;
    display: inline-block;
}

.contactinfo {
    display: inline-block;
}

#connectheader {
    background-image: url(./letsconnectbg.jpg);
    background-repeat: no-repeat;
}

#emailicon {
    width: 76px;
    height: 58px;
}

#phoneicon {
    width: 97px;
    height: 69px;
}

#linkedinicon {
    width: 93px;
    height: 65px;
}

#githubicon {
    width: 121px;
    height: 84px;
}

/* FOOTER */

#copyrightfooter {
    font-family: 'Dela Gothic One', sans-serif;
}