/* UNIVERSAL STYLING */

* {
    box-sizing: border-box;
}

html {
    background-color: #F7F6E4;
}


/* TEXT STYLING */

h1, h2, h3, h4, li {
    font-family: 'Dela Gothic One', sans-serif;
}

h5, p {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h4, li {
    color: #F7F6E4;
};

h3, p {
    color: #593832;
}

h1 {
    font-size: 6.875rem;
}

/* HERO PAGE */

#hero {
    background-image: url(./background.jpg);
    background-size: cover;
}


/* ABOUT */



/* PROJECTS */



/* SKILLS */

#skillscontainer {
    background-image: url(./background.jpg);
    background-size: cover;
    width: 988px;
    height: 988px;
}

.skillicon {
    display: inline;
    width: 280px;
    height: 204px;
    border: 1px solid red;
}


/* CONTACT */



/* FOOTER */