/* UNIVERSAL STYLING */

* {
    box-sizing: border-box;
}

html {
    background-color: #F7F6E4;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100dvh;
    position: relative;
    scroll-behavior: smooth;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}


section {
    scroll-snap-align: start;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.sectionheaders {
    display: flex;
    align-items: center;
    width: 100%;
}

.headerlines {
    width: 100px;
    color: #593832;
    flex-grow: 1;
}

.headerlines, h3 {
    display: inline-block;
}

.sectioncontainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0px 100px;
    scroll-margin-top: 140px;
}

.sectioncontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 680px) {

    .sectionheaders {
        height: 40px;
    }
    .sectioncontainers {
        scroll-margin-top: 90px;
        padding: 0px 22px;
    }

    .headerlines {
        width: 100px;
    }
}

@media screen and (min-width: 681px) and (max-width:1200px) {
    .sectioncontainers {
        padding: 0px 55px;
    }
}

@media screen and (min-width: 1201px) and (max-width:2000px) {
    .sectioncontainers {
        padding: 0px 350px;
    }
}

/* TEXT STYLING */

h1, h2, h3, h4, li {
    font-family: 'Dela Gothic One', sans-serif;
}

h5, p {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h4, h5, li {
    color: #F7F6E4;
}

h3, p {
    color: #593832;
}

h1 {
    font-size: 5.3rem;
    align-self: flex-start;
    margin: 0;
    text-shadow: #E56E3425 5px 5px 4px;
}

h2 {
    font-size: 3.85rem;
    align-self: flex-end;
    margin: 0;
    text-shadow: #E56E3425 5px 5px 4px;
}

h3 {
    margin: 35px;
    font-size: 3.3rem;
}

h4 {
    font-size: 1.25rem;
    margin-top: 8px;
}

h5 {
    font-size: 2.5rem;
    margin: 20px 25px;
}

p {
    font-size: 1.5rem;
}

@media screen and (max-width: 680px) {
    h3 {
        font-size: 1.49rem;
        margin: 15px;
    }

    h4 {
        font-size: 0.5rem;
    }

    h5 {
        font-size: 1rem;
        margin: 0px;
    }

    p {
        font-size: 0.875rem;
    }
}


@media screen and (min-width: 681px) and (max-width:2000px) {

   h3 {
       font-size: 2rem;
   }

   h4 {
       font-size: 0.9375rem;
   }

   h5 {
       font-size: 2rem;
       margin: 0px;
   }
}


/* HERO PAGE */

.hero {
    background-image: url(./background.jpg);
    background-size:  cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 65px;
    justify-content: space-between;
}

.heronavcontainer {
    width: 864px;
    height: 80px;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
}

.navhighlight {
    background-color: #E56E3460;
    height: 29px;
    width: 738px;
    position: absolute;
    align-self: flex-end;
}

.heronav {
    position: absolute;
    width: 739px;
}

.herocrumbs {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

.herocrumb {
    display: inline-block;
    font-size: 2.375rem;
}

.herolink:link, .herolink:visited {
    color: #F7F6E4;
    text-decoration: none;
}

.herolink:hover {
    color: #593832;
    text-decoration: none;
}

.herolink:active {
    color: #593832;
    text-decoration: none;
    text-shadow: #C4AADC 1px 0 10px;
}


#funfacticon {
    width: 180px;
    height: 180px;
    animation: 6s rotate linear infinite;
}

#funfacticon:hover {
    animation-play-state: paused;
}

#funfacticon:visited, #funfacticon:active {
    animation: 6s rotate linear infinite;
}

.funfact {
    width: 260px;
    height: 260px;
    position: absolute;
    display: none;
}

#funfact1 {
    top: 6.9%;
    left: 8.7%;
}

#funfact2 {
    top: 14.1%;
    left: 47%;
}

#funfact3 {
    top: 7.7%;
    left: 79.3%;
}

#funfact4 {
    bottom: 9.8%;
    left: 26.7%;
}

#funfact5 {
    bottom: 9.8%;
    left: 70.4%;
}

#spacer {
    width: 180px;
    height: 180px;
}

.downarrow {
    width: 104px;
    height: 42px;
    align-self: flex-end;
}

.downarrow:hover  {
    transform: scale(1.1);
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.title {
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.subtitle {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    padding: 0px auto;
    margin: 0px;
    flex-grow: 1;
}

.maincontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
}

@media screen and (max-width: 680px) {
    .hero {
        padding: 30px 10px;
    }

    .herocrumb {
        font-size: 1.125rem;
    }

    .herocrumbs {
        margin: 0px;
    }

    .heronavcontainer {
        width: 346px;
        height: 30px;
    }

    .heronav {
        width: 346px;
        height: 30px;
    }

    .navhighlight {
        width: 346px;
        height: 16px;
    }

    #funfacticon {
        width: 90px;
        height: 90px;
    }

    .downarrow {
        width: 76px;
        height: 30px;
    }

    #spacer {
        width: 90px;
        height: 90px;
    }

    .funfact {
        width: 130px;
        height: 130px;
    }

    #funfact1 {
        top: 7.5%;
        left: 4.7%;
    }
    
    #funfact2 {
        top: 15.6%;
        left: 64%;
    }
    
    #funfact3 {
        top: 25%;
        left: 34.9%;
    }
    
    #funfact4 {
        top: 58%;
        left: 18.6%;
    }
    
    #funfact5 {
        top: 73%;
        left: 65.1%;
    }
}

@media screen and (min-width: 681px) and (max-width: 900px) {
    .hero {
        padding: 57px 50px 30px;
    }

    .herocrumb {
        font-size: 2rem;
    }

    .herocrumbs {
        margin: 0px;
    }

    .heronavcontainer {
        width: 573px;
        height: 55px;
    }

    .heronav {
        width: 573px;
        height: 55px;
    }

    .navhighlight {
        width: 573px;
        height: 30px;
    }

    #funfacticon {
        width: 145px;
        height: 145px;
    }

    .downarrow {
        width: 100px;
        height: 40px;
    }

    #spacer {
        width: 145px;
        height: 145px;
    }

    .funfact {
        width: 160px;
        height: 160px;
    }

    #funfact1 {
        top: 10.5%;
        left: 4.7%;
    }
    
    #funfact2 {
        top: 15.6%;
        left: 75%;
    }
    
    #funfact3 {
        top: 27%;
        left: 34.9%;
    }
    
    #funfact4 {
        top: 58%;
        left: 18.6%;
    }
    
    #funfact5 {
        top: 73%;
        left: 65.1%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .hero {
        padding: 57px 50px 30px;
    }

    .herocrumb {
        font-size: 2rem;
    }

    .herocrumbs {
        margin: 0px;
    }

    .heronavcontainer {
        width: 573px;
        height: 55px;
    }

    .heronav {
        width: 573px;
        height: 55px;
    }

    .navhighlight {
        width: 573px;
        height: 30px;
    }

    #funfacticon {
        width: 145px;
        height: 145px;
    }

    .downarrow {
        width: 100px;
        height: 40px;
    }

    #spacer {
        width: 145px;
        height: 145px;
    }

    .funfact {
        width: 213px;
        height: 213px;
    }

    #funfact1 {
        top: 10%;
        left: 8.7%;
    }
    
    #funfact2 {
        top: 17.1%;
        left: 42%;
    }
    
    #funfact3 {
        top: 8%;
        left: 75%;
    }
    
    #funfact4 {
        bottom: 10.8%;
        left: 21.7%;
    }
    
    #funfact5 {
        bottom: 9.8%;
        left: 70.4%;
    }
}


/* TITLE SPECIFIC MEDIA QUERIES */

@media screen and (max-width: 680px) {
    h1 {
        font-size: 1.65rem;
    }

    h2 {
        font-size: 1rem;
    }

    .subtitle {
        max-width: 425px;
    }
}

@media screen and (min-width: 681px) and (max-width: 799px) {
    h1 {
        font-size: 2.89rem;
    }

    h2 {
        font-size: 1.24rem;
    }

    .subtitle {
        max-width: 700px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    h1 {
        font-size: 3.4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .subtitle {
        max-width: 800px;
    }
}


/* STICKY NAV BAR */

#stickynav {
    position: sticky;
    top: 30px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: #C4AADC90;
    border-radius: 50px;
    width: 864px;
    height: 109px;
    display: flex;
}

.crumbs {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.crumb {
    display: inline-block;
    font-size: 2.375rem;
    margin: 0px;
}

.navlink {
    padding: 0px 15px 5px;
}

.navlink:link, .navlink:visited {
    color: #F7F6E4;
    text-decoration: none;
}

.navlink:hover {
    color: #F7F6E4;
    text-decoration: none;
    background-color: #E56E34;
    border-radius: 50px;
}

.navlink:active {
    color: #F7F6E4;
    text-decoration: none;
    background-color: #E56E3460;
    border-radius: 50px;
}

div.returntotop {
    position: sticky;
    z-index: 1;
    left: 90%;
    top: 90%;
    border-radius: 50%;
    background-color: #F7F6E465;
    box-shadow: 0px 0px 25px -3px #F7F6E4;
}


img.returntotop {
    rotate: 180deg;
    scale: 90%;
}

.returntotop:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

@media screen and (max-width: 680px) {
    #stickynav {
        top: 25px;
    }

    #navbar {
        width: 375px;
        height: 50px;
    }

    .crumb {
        font-size: 1.125rem;
    }

    .navlink {
        padding: 0px 8px 5px;
    }

    img.returntotop {
        rotate: 180deg;
        scale: 50%;
    }
}

@media screen and (min-width: 681px) and (max-width: 2000px) {

    #navbar {
        width: 674px;
        height: 67px;
    }

    .crumb {
        font-size: 2rem;
    }

    .navlink {
        padding: 0px 8px 5px;
    }

    img.returntotop {
        rotate: 180deg;
        scale: 70%;
    }
}

/* ABOUT */

#aboutcontent {
    width: 988px;
    justify-content: space-between;
}

#aboutbreak {
    width: 100%;
}

#p1 {
    width: 100%;
}

#p2 {
    display: inline-block;
    width: 50%;
}

#resumeicon {
    display: inline-block;
    width: 190px;
    height: 190px;
    animation: 6s rotate linear infinite;   
}

#resumeicon:hover {
    animation-play-state: paused;
}

#resumeicon:visited {
    animation: 6s rotate linear infinite;  
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 680px) {

    #aboutcontent {
        width: 330px;
        justify-content: center;
    }
    
    #aboutbreak, #p1, #p2 {
        width: 330px;
    }

    
    #resumeicon {
        width: 80px;
        height: 80px;  
    }
}

@media screen and (min-width: 681px) and (max-width: 2000px) {
    
    #aboutcontent {
        width: 650px;
    }

    #p2 {
        width: 65%;
    }
    
    #resumeicon {
        width: 150px;
        height: 150px;  
    }
}


/* PROJECTS */

#projectstop {
    display: flex;
    height: 1691px;
    margin: 10px 0px;
}

#projects {
    align-self: flex-end;
    position: relative;
    top: 0px;
    max-height: 1691px;
}


.projects-card {
    border: solid 2px #593832;
    width: 988px;
    min-height: 91px;
}

.project-header{
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#project1 {
    max-height: 498px;
    overflow: hidden;
    border-bottom-width: 0;
}

#project2 {
    max-height: 498px;
    overflow: hidden;
    border-bottom-width: 0;
}

#project3 {
    height: 498px;
    overflow: hidden;
}

#project1header {
    background-image: url(./project1.jpg);
}

#project2header {
    background-image: url(./project2.jpg);
}

#project3header {
    background-image: url(./project3.jpg);
}

.projectname, .projectyear, .projectlink > p {
    font-size: 2rem;
    margin: 2rem;
    color: #F7F6E4;
    display: flex;
}

.projectname {
    justify-content: flex-start;
    width: 362px;
    flex-grow: 1;
}

.projectyear {
    justify-content: center;
    width: auto;
}

.projectlink {
    justify-content: flex-end;
    width: 362px;
    flex-grow: 1;
    text-decoration: none;
}

.projectlink > p {
    display: flex;
    justify-content: flex-end;
}

.projectlink:hover {
    transform: scale(1.2);
    transition: all .25s ease-out;
}

.projectlink:visited {
    text-decoration: none;
}


.projectimage {
    width: 984px;
    min-height: 0px;
    max-height: 407px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

#moreprojects {
    width: 988px;
    margin: 0 auto;
}

#moreprojectslink {
    background: linear-gradient(to right, #E56E3460 50%, #F7F6E4 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    padding: 5px;
}

#moreprojectslink:link, #moreprojectslink:visited {
    color: #593832;
    text-decoration: none;
}

#moreprojectslink:hover {
    background-position: left bottom;
    text-decoration: none;
}

#moreprojectslink:active {
    background-color: #E56E34;
}

@media screen and (max-width: 680px) {

    #projectstop {
        height: 593px;
        margin: 10px 0px;
    }
    
    #projects {
        max-height: 593px;
    }

    #projectscontainer {
        padding-top: 10px;
    }

    .projects-card {
        width: 330px;
        min-height: 32px;
    }
    
    .project-header{
        height: 32px;
        background-size: cover;
    }

    #project1 {
        max-height: 166px;
        overflow: hidden;
        border-bottom-width: 0;
    }
    
    #project2 {
        max-height: 166px;
        overflow: hidden;
        border-bottom-width: 0;
    }
    
    #project3 {
        height: 166px;
        overflow: hidden;
    }

    .projectimage {
        width: 328px;
        min-height: 0px;
        max-height: 136px;
        overflow: hidden;
    }
    
    #moreprojects {
        width: 330px;
        margin: 0 auto;
    }
    .projectname, .projectyear, .projectlink > p {
        font-size: 0.75rem;
        margin: 0.7rem;
    }

    .projectname {
        width: 140px;
    }

    .projectyear {
        width: 50px;
    }

    .projectlink {
        width: 140px;
    }
}

@media screen and (min-width: 681px) and (max-width: 2000px) {
    #projectstop {
        height: 1183px;
        margin: 10px 0px;
    }
    
    #projects {
        max-height: 1183px;
    }

    .projects-card {
        width: 650px;
        min-height: 61px;
    }
    
    .project-header{
        height: 61px;
        background-size: cover;
    }

    #project1 {
        max-height: 330px;
        overflow: hidden;
        border-bottom-width: 0;
    }
    
    #project2 {
        max-height: 330px;
        overflow: hidden;
        border-bottom-width: 0;
    }
    
    #project3 {
        height: 330px;
        overflow: hidden;
    }

    .projectimage {
        width: 650px;
        min-height: 0px;
        max-height: 269px;
        overflow: hidden;
    }
    
    #moreprojects {
        width: 650px;
        margin: 0 auto;
    }
    .projectname, .projectyear, .projectlink > p{
        font-size: 1.31rem;
        margin: 0.7rem;
    }

    .projectname {
        width: 140px;
    }

    .projectyear {
        width: 50px;
    }

    .projectlink {
        width: 140px;
    }
}

/* SKILLS */

#skillscontent {
    background-image: url(./background.jpg);
    background-size: 175%; 
    width: 988px;
    height: 988px;
    box-shadow: 5px 5px 10px #2B2D2925;
}

#skillscontainer {
    margin: 70px 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.skill {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.skillicon {
    width: auto;
    height: 12.5rem;
}

@media screen and (max-width: 680px) {
    #skillscontent {
        width: 330px;
        height: 330px;
        margin: 10px 0px;
    }

    #skillscontainer {
        margin: 25px 30px;
    }
    
    .skill {
        width: 68px;
    }
    
    .skillicon {
        height: 4.25rem;
}
}

@media screen and (min-width: 681px) and (max-width: 2000px) {
    #skillscontent {
        width: 650px;
        height: 650px;
        margin: 10px 0px;
    }

    #skillscontainer {
        margin: 50px 40px;
    }
    
    .skill {
        width: 150px;
    }
    
    .skillicon {
        height: 8.125rem;
}
}
/* CONTACT */

#contacttop {
    margin-top: 50px;
}

.contacttype {
    display: flex;
    align-items: center;
    margin: 54px 0px;
    padding-left: 60px;
}

.contactcircle {
    background-color: #C4AADC;
    width: 131px;
    height: 131px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contactinfo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 50px;
}

.contactlink {
    background: linear-gradient(to right, #E56E3460 50%, #F7F6E4 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    padding: 5px;
}
.contactlink:link, .contactlink:visited {
    color:#593832;
    text-decoration: none;
}

.contactlink:hover {
    background-position: left bottom;
    text-decoration: none;
}

.contactlink:active {
    text-decoration: none;
    background: #E56E34;
}

#connectheader {
    background-image: url(./letsconnectbg.jpg);
    background-repeat: no-repeat;
    width: 988px;
}

#connectcontent {
    width: 988px;
}

#emailicon {
    width: 4.25rem;
    height: 4.25rem;
}

#phoneicon {
    width: 4.4;
    height: 4.4rem;
}

#linkedinicon {
    width: 4.25rem;
    height: 4.25rem;
}

#githubicon {
    width: 5.25rem;
    height: 5.25rem;
}

#copy {
    height: 45px;
    width: 45px;
}

#copy:hover {
    transform: scale(1.25);
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

#copy:active {
    transform: scale(1.5);
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

@media screen and (max-width: 680px) {

    #contacttop {
        margin-top: 20px;
    }

    .contacttype {
        margin: 18px 0px;
        padding-left: 20px;
    }
    
    .contactcircle {
        width: 43px;
        height: 43px;
    }
    
    .contactinfo {
        font-size: 0.8125rem;
        padding-left: 10px;
    }

    #connectheader {
        width: 330px;
        height: 26px;
        padding: 4px 7px;
        margin-top: 10px;
    }
    
    #connectcontent {
        width: 330px;
    }
    
    #emailicon {
        width: 1.56rem;
        height: 1.56rem;
    }
    
    #phoneicon {
        width: 1.875rem;
        height: 1.875rem;
    }
    
    #linkedinicon {
        width: 1.65rem;
        height: 1.65rem;
    }
    
    #githubicon {
        width: 2rem;
        height: 2rem;
    }
    
    #copy {
        height: 25px;
        width: 25px;
    }

}

@media screen and (min-width: 681px) and (max-width: 2000px) {
    .contacttype {
        margin: 40px 0px;
        padding-left: 45px;
    }
    
    .contactcircle {
        width: 87px;
        height: 87px;
    }
    
    .contactinfo {
        font-size: 1.6875rem;
        padding-left: 30px;
    }

    #connectheader {
        width: 650px;
        height: 51px;
        padding: 7px 23px 6px;
    }
    
    #connectcontent {
        width: 650px;
    }
    
    #emailicon {
        width: 3.44rem;
        height: 3.44rem;
    }
    
    #phoneicon {
        width: 3.44rem;
        height: 3.44rem;
    }
    
    #linkedinicon {
        width: 3.4rem;
        height: 3.4rem;
    }
    
    #githubicon {
        width: 3.5rem;
        height: 3.5rem;
    }
    
    #copy {
        height: 35px;
        width: 35px;
    }
}

/* FOOTER */

#copyrightfooter {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 1.75rem;
}

@media screen and (max-width: 680px) {
    #copyrightfooter {
        font-size: 0.625rem;
    }
}

@media screen and (min-width: 681px) and (max-width: 2000px) {
    #copyrightfooter {
        font-size: 1rem;
    }
}